	 * {
      box-sizing: border-box;
  }

  h1 {
	  	font-size: 175%;
	}

	section {
		font-size: 125%;
		border: 1px solid black;
	}

p {
  border: 1px solid black;
  background-color: #A52A2A;
  width: 90%;
  height: 150px;
  margin-right: auto;
  margin-left: auto;
  font-family: Helvetica;
  color: white;
  font-size: 75%;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Large devices only **********/
@media (min-width: 992px){
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    border: 1px solid green;
  }
  .col-lg-4 {
    width: 30%;
  }
  .col-lg-12 {
    width: 100%;
  }

  section{
    margin-right: 2px;
    margin-bottom: 5px;
    margin-top: 5px;
    margin-left: 2px;
  }

}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px){
   .col-md-6, .col-md-12 {
    float: left;
    border: 1px solid green;
  }

  .col-md-6 {
    width: 50%;
  }
  .col-md-12 {
    width: 100%;
  }
}


@media (max-width: 767px){
  body {
     background-color: #38AEE9;
  }
  .col-sm-12 {
    float: left;
    border: 1px solid green;
  }

  .col-sm-12 {
    width: 100%;
  }
}

